[submodule "libs/libreader-rs"]
	path = libs/libreader-rs
	url = https://github.com/Szybet/libreader-rs
[submodule "libs/libsndfile"]
	path = libs/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "libs/mupdf"]
	path = libs/mupdf
	url = https://github.com/Kobo-InkBox/mupdf.git
[submodule "libs/LibreTranslate-cpp"]
	path = libs/LibreTranslate-cpp
	url = https://github.com/argosopentech/LibreTranslate-cpp.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
