[submodule "libs/libreader-rs"]
	path = libs/libreader-rs
	url = https://github.com/Szybet/libreader-rs
[submodule "libs/libsndfile"]
	path = libs/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "libs/mupdf"]
	path = libs/mupdf
	url = https://github.com/Kobo-InkBox/mupdf.git
[submodule "libs/Libretranslate-rs-to-cpp"]
	path = libs/Libretranslate-rs-to-cpp
	url = https://github.com/Szybet/Libretranslate-rs-to-cpp.git
